<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAKkw4gpz8ai1cRHRINms-6qbKGFLq8wII</string>
	<key>GCM_SENDER_ID</key>
	<string>13730549746</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rwstudio.actionnow</string>
	<key>PROJECT_ID</key>
	<string>action-now-2600c</string>
	<key>STORAGE_BUCKET</key>
	<string>action-now-2600c.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:13730549746:ios:42903474a304a4056e656b</string>
	<key>DATABASE_URL</key>
	<string>https://action-now-2600c-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>